html {
  font-size: 62.5%;
}
body {
  background-color: #68b0ab;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.birthday-cake {
  position: relative;
  top: 2rem;
}

.holder {
  position: absolute;
  width: 35rem;
  height: 2rem;
  border-radius: 10rem;
  background-color: #212f3c;
  left: -14rem;
  top: 1rem;
}

.holder:before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 15rem;
  background-color: #cacfd2;
  left: 13rem;
  top: 2rem;
}

.holder:after {
  content: "";
  position: absolute;
  background-color: #68b0ab;
  width: 10rem;
  height: 13.5rem;
  border-radius: 3rem 3rem 0 0;
  left: 6.5rem;
  top: 2rem;
  box-shadow: 12.5rem 0 #68b0ab;
}

.shadow {
  position: absolute;
  width: 35rem;
  height: 2rem;
  border-radius: 50%;
  top: 17rem;
  left: -13.5rem;
  background-color: rgba(0, 0, 0, 0.095);
  z-index: 1;
}

.shadow:before {
  content: "";
  position: absolute;
  background-color: #cacfd2;
  width: 15rem;
  height: 2rem;
  border-radius: 2rem;
  top: -1rem;
  left: 9.6rem;
}

.cake {
  position: absolute;
  overflow: hidden;
  width: 27.5rem;
  height: 14rem;
  background-color: #fad7a0;
  top: -13rem;
  left: -10.1rem;
  border-radius: 3rem 3rem 0 0;
}

.cake:before {
  content: "";
  background-color: #935116;
  width: 27.5rem;
  height: 1.5rem;
  position: absolute;
  top: 7.5rem;
  box-shadow: 0 3rem #935116;
}

.cake:after {
  content: "";
  position: absolute;
  background-color: #573612;
  width: 27.5rem;
  height: 4rem;
  box-shadow: inset 0 1rem rgba(0, 0, 0, 0.07);
}

.chocolate {
  position: absolute;
  background-color: #573612;
  width: 2.5rem;
  height: 4.5rem;
  top: 2.5rem;
  left: 0;
  z-index: 2;
  border-radius: 5rem;
  box-shadow: 2.5rem 2px #fad7a0, 5rem -1rem #573612, 7.5rem -5px #fad7a0,
    10rem 3px #573612, 125px 0 #fad7a0, 15rem -5px #573612, 17.5rem 3px #fad7a0,
    20rem -5px #573612, 225px -10px #fad7a0, 25rem 4px #573612;
}

.candle {
  position: absolute;
  width: 15px;
  height: 70px;
  background-color: white;
  top: -200px;
  left: 30px;
  box-shadow: inset 0 -10px 0 #e74c3c;
}

.candle:before {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #e74c3c;
  content: "";
  top: 1rem;
  box-shadow: 0 2.5rem #e74c3c;
}

.candle:after {
  content: "";
  width: 2px;
  height: 15px;
  content: "";
  position: absolute;
  background-color: black;
  top: -1.5rem;
  left: 6px;
}

.flame {
  position: absolute;
  background-color: #f4d03f;
  opacity: 0.9;
  box-shadow: inset 0 -5px 5px #d35400, 5px -5px 20px #fbffa3;
  width: 2rem;
  height: 3rem;
  top: -24rem;
  border-radius: 50%;
  left: 2.65rem;
  animation: flame 0.5s infinite;
}
@keyframes flame {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
