.back:link,
.back:visited {
  background-color: black;
  border: 2px solid white;
  position: absolute;
  font-size: 2.4rem;
  text-decoration: none;
  color: white;
  padding: 1rem 4rem;
  font-weight: bolder;
  top: 4rem;
  left: 4rem;
  box-shadow: 3px 5px rgb(62, 62, 62);
}
.back:hover {
  background-color: rgb(44, 44, 44);
}
.back:active {
  transform: translateY(5px);
}
